.modal-confirm.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss='modal') x
        h3
      .modal-body
        p
      .modal-footer
        button.cancel.btn.btn-raised.btn-default(data-dismiss='modal') Cancel
        button.submit.btn.btn-raised.btn-danger.confirm-delete Ok
