#get-credentials.modal-single-input.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(data-dismiss='modal') x
				h3 Retrieve Password
			.modal-body
				form#get-credentials-form.well.span5(method='post')
					p(style='color: black;') Please enter the email address associated with your account
					input#email-tf.span5.required(type='text', name='email')
					.alert.alert-error.hide
					button.close(data-dismiss='alert')
			.modal-footer(style='padding:10px 15px 10px;')
				button#cancel.btn.btn-danger(data-dismiss='modal') Cancel
				button#retrieve-password-submit.btn.btn-primary(type='submit') Submit
