.modal-warning.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close.cancel-warning(data-dismiss='modal') x
        h3
      .modal-body
        p
      .modal-footer
        button.cancel.btn.btn-raised.btn-default.cancel-warning(data-dismiss='modal') Cancel
        button.submit.btn.btn-raised.btn-danger.confirm-warning Ok
